body {
  background-color: black;
}
#sliders {
  position: relative;
  top: 3px;
  border: 1px solid transparent;
  height: 300px;
  width: 1200px;
  overflow: hidden;
  box-shadow: 3px 3px black;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  animation-name: slider;
  animation-duration: 9s; 
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes slider {
  0% {
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/631/369/original/website-slider-for-black-friday-sale-with-copy-space-monoblock-gold-card-shopping-bag-gift-box-on-isolated-background-template-for-banner-mobile-social-media-ad-discount-store-shop-vector.jpg');
  }
  50% {
    background-image: url('https://cdn.shopclues.com/images/banners/2023/Dec/16/HB4_Jdd_Web_Esha_16thDec23.jpg');
  }
  100% {
    background-image: url('https://cdn.shopclues.com/images/banners/2024/Jan/30/BKWSB_Web_SYM_30Jan24_New.jpg');
  }
}
.slider-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.star{
color: yellow;
}
#sideimages{
  position: relative;
  left:1210px;
  top:-295px;
}
#sideimages img{
  height: 300px;
  width: 300px;
}
#time{
  position: relative;
  top:30px;
  left:-300px;
}
span{
  border: 1px solid black;
  background-color: black;
  color: white;
}
#todatimer{
  position: relative;
  top:10px;
  left:-300px;
}
.product1{
  height: 200px;
  box-shadow: 3px 3px 6px black; /* Add box shadow */
  margin-right: 10px;
}

.app-container .home-container .today-deals-container{ 
  max-width: 900px;
  margin: 0 auto; 
}
.todaysDeals{
  position: relative;
  left:-300px;
  top:10px;
  width: 1500px;
}
.todaysDeals .cards
{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  flex-wrap: wrap;
}
.cards .card{
  height: 100%;
}
.card1 h5{
  display: inline;
}
#card{
  border: 1px solid white;
  height: 230px;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #3498db, #2c3e50);;
  color: black;
}
.invalid {
  border: 1px solid red;
}